.tabs__list {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    margin-inline: auto;
}

.tabs__trigger {
    --trigger-border: 1px solid var(--clr-transparent-100);

    padding-inline: 3rem;
    padding-block: 1.5rem;
    border: none;
    border-block-end: var(--trigger-border);
    color: var(--clr-neutral-500);
    background: transparent;
}

.tabs__trigger:first-child {
    border-block-start: var(--trigger-border);
}

.tabs__trigger:hover {
    color: var(--clr-accent-100);
}

.tabs__trigger[data-state='active'] {
    border-block-end: none;
    box-shadow: inset 0 -3px 0 0 var(--clr-accent-100), 0 1px 0 0 var(--clr-accent-100);
    color: var(--clr-neutral-800);
}

.tabs__content[data-state='active'] {
    display: grid;
    gap: 3rem;
    padding-block: 4rem;
}

.tabs__content__body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tabs__content__text {
    font-size: var(--fs-400);
    max-inline-size: 36ch;
    margin-block: 1.5rem;
}

.tabs__content__link {
    display: block;
    inline-size: max-content;
    block-size: max-content;
    margin-inline: auto;
}

.tabs__content__illustration {
    margin-inline: auto;
}

@media (min-width: 48em) {
    .tabs__list {
        flex-direction: row;
        inline-size: max-content;
    }

    .tabs__trigger:first-child {
        border-block-start: none;
    }

    .tabs__content[data-state='active'] {
        gap: 1rem;
        grid-auto-flow: column;
        grid-template-columns: 50% 50%;
    }

    .tabs__content__body {
        text-align: start;
    }

    .tabs__content__link,
    .tabs__content__illustration {
        margin-inline: 0;
    }
}